In [ ]:
#revise

In [ ]:
#1
from math import *
c = 50
s =  0
h = 30
l =[]
D = input()
d = list(map(int,D.split(',')))
for i in d:
  s = int(sqrt((2*c*i)/h))
  l.append(str(s))
print(','.join(l))

100,150,180
18,22,24

In [ ]:
#2
x,y = map(int,input().split(','))
l=[]
for i  in range (x):
  t=[]
  for j in range(y):
    t.append(i*j)
  l.append(t)
print(l)

3,5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
#3
str = input().split(',')
str.sort()
print(','.join(str))

without,hello,bag,world
bag,hello,without,world

In [ ]:
# 4
l =[]
while True:
  s = input()
  if s:
    l.append(s.upper())
  else:
    break

for i in l:
  print(i)

hi , how's life going?
good ! hbu?
well, good , hope we get a good job
yeah ! lets believe ourselfs

HI , HOW'S LIFE GOING?
GOOD ! HBU?
WELL, GOOD , HOPE WE GET A GOOD JOB
YEAH ! LETS BELIEVE OURSELFS

In [ ]:
# 5
l=[]
for i in range (2000,3201):
  if(i%7==0 and i%5!=0):
    l.append(i)
print(','.join(l))

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [ ]:
f = 1
n = int(input())
for i in range(1,n+1):
  f = f*i
print(f)

8
40320

In [ ]:

def factorial(x):
  if(x==0):
    return 1
  else:
    return(x*factorial(x-1))

n =int(input())
factorial(n)

6

720

In [ ]:
n = int(input())
d ={}#dictionary
for i in range(n+1):
  d[i]=i*i
print(d)

8
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
str = input().split(".")
print(str)
print(str[-1])

abc.news
['abc', 'news']
news

In [ ]:
# linear search
pos =0
def search(list,x):
  for i in range(len(list)):
    if(x == list[i]):
      globals()['pos']=i
      return True
  else:
    return False


list = [78,34,56,90,21,34]
x = int(input())
if search(list,x):
  print("found :",x,"at:",pos+1)
else:
   print("not found")

56
found : 56 at: 3

In [ ]:
# binary search
def bsearch(num,x):
  l = 0
  u = len(num)-1
  while l<=u:
    mid = (l+u)//2
    if(x == num[mid]):
      globals()['pos']=mid
      return True
    else:
      if(x>num[mid]):
        l = mid+1
      else:
         u = mid-1
  return False


pos =0
num = [30,45,67,21,34,89,90]
num.sort()
print(num)
x = int(input())
if bsearch(num,x):
  print("found :",x," at :",pos+1)
else:
  print("not found")

[21, 30, 34, 45, 67, 89, 90]
45
found : 45  at : 4

In [ ]:
# bubble sort
def sort(n):
  for i in range(len(n)-1,0,-1):
    for j in range(i):
      if(n[j]>n[j+1]):
        temp = n[j]
        n[j] = n[j+1]
        n[j+1] = temp



n =[89,45,32,89,12,46]
sort(n)
print(n)

[12, 32, 45, 46, 89, 89]

In [ ]:
#sorting an list
l = list(map(int,input().split(',')))
l.sort()
print(l)

6790,3245,6712,8967,4321
[3245, 4321, 6712, 6790, 8967]

In [ ]:
#selection sort
def sort(a):
  for i in range(len(a)):
    minpos = i
    for j in range(i,len(a)):
      if(a[j]<a[minpos]):
        minpos = j
    temp = a[i]
    a[i] = a[minpos]
    a[minpos]=temp



a = [90,34,76,21,35,89]
sort(a)
print(a)

[21, 34, 35, 76, 89, 90]

In [ ]:
# bubble sort
t = []
def bubble(l):
  for i in range(len(l)-1,0,-1):
    for j in range(i):
      if(l[j]>l[j+1]):
        t = l[j]
        l[j] = l[j+1]
        l[j+1] = t
  print(l)







l = []
n = int(input())
for i in range(n):
  x = int(input())
  l.append(x)
print(l)

bubble(l)

4
78
90
32
12
[78, 90, 32, 12]
[12, 32, 78, 90]

In [ ]:
#array
from array import *
a = array("i",[])
n=int(input())
for i in range(n):
  z = int(input())
  a.append(z)
print(a)

4
6
78
32
12
array('i', [6, 78, 32, 12])

In [ ]:
#queue // first in first out-->list
q = []
q.append("w")
q.append("e")
print(q)
q.pop(0)

['w', 'e']

'w'

In [ ]:
#deque
from collections import *
que = deque()
que.append("r")
que.append("e")
que.append("l")
que.remove("r")
print(que)
print(que.popleft())
print(que.popleft())

deque(['e', 'l'])
e
l

In [ ]:
#queue
from queue import Queue
queu = Queue(maxsize=2)
print(queu.qsize())
queu.put("a")
queu.put("b")
print(queu.full())
print(queu.get())
print(queu.get())
print("if empty: ",queu.empty())

0
True
a
b
if empty:  True

In [ ]:
#insertion sort
def ins(l):
  for i in range(1,len(l)):
    key=l[i]
    j=i-1
    while(j>=0 and l[j]>key):
      l[j+1]=l[j]
      j-=1

    l[j+1]=key


l = [4,3,2,10,12,1,5,6]
ins(l)
print(l)

[1, 2, 3, 4, 5, 6, 10, 12]

In [ ]:
#mergesort

def mergesort(arr):
  if(len(arr)>1):
    mid = len(arr)//2
    l = arr[:mid]
    r = arr[mid:]

    mergesort(l)
    mergesort(r)

    i =j = k =0
    while(i<len(l) and j<len(r)):
      if(l[i]<r[j]):
        arr[k]=l[i]
        i+=1
      else:
        arr[k]=r[j]
        j+=1
      k+=1


    while(i<len(l)):
      arr[k]=l[i]
      i+=1
      k+=1
    while(j<len(r)):
      arr[k] = r[j]
      j+=1
      k+=1



arr = [2,4,6,1,9,5]
mergesort(arr)
print(arr)

[1, 2, 4, 5, 6, 9]

In [ ]:
#insertion sort

def insert(k):
  for i in range(1,len(k)):
    key=k[i]
    j=i-1
    while(j>=0 and k[j]>key):
      k[j+1]=k[j]
      j-=1
    k[j+1]=key


k=[2,5,3,8,9,1]
insert(k)
print(k)

[1, 2, 3, 5, 8, 9]

In [ ]:
# merge sort
def msort(a):
  if(len(a)>1):
    mid = len(a)//2

    L=a[:mid]
    R=a[mid:]

    msort(L)
    msort(R)


    i=j=k=0
    while(i<len(L) and j<len(R)):
      if(L[i]<R[j]):
        a[k]=L[i]
        i+=1
      else:
        a[k]=R[j]
        j+=1
      k+=1

    while(i<len(L)):
     # if(i<L[i]):
        a[k]=L[i]
        i+=1
        k+=1
    while(j<len(R)):
      #if(j<R[j]):
        a[k]=R[j]
        j+=1
        k+=1





a=[5,3,2,1,6,8,9,0]
msort(a)
print(a)

[0, 1, 2, 3, 5, 6, 8, 9]

In [ ]:
h=[1,3,2]
if(len(h)==len(set(h))):
  print("no")
else:
  print("yes")

no

In [ ]:
u = [6,6,6,4,4,4,4,4,1]
c=0
max=0
l =[]
u.sort()
print(u)
for i in range(0,len(u)):
  for j in range(i):
     if(u[i]==u[j]):
       c+=1
       l.append(u[i])
       if(c>max):
          max =c
print(max)

[1, 4, 4, 4, 4, 4, 6, 6, 6]
13

In [ ]:
#shell sort

def shellsort(a):
  gap = len(a)//2

  while(gap>0):
    i=0
    j=gap
    while(j<len(a)):
      if(a[i]>a[j]):
        a[i],a[j]=a[j],a[i]
      i+=1
      j+=1

    while((i-gap)!=-1):
      if(a[i-gap]>a[i]):
        a[i-gap],a[i]=a[i],a[i-gap]
      i-=1
    gap//=2

a=[9,3,0,2,7,5]
shellsort(a)
print(a)

[0, 2, 3, 5, 7, 9]

In [ ]:
#interpolation search
def interpos(a,l,h,x):
  if(l<=h and x>=a[l] and x<=a[h]):
    pos = l+((h-l)//(a[h]-a[l]))*(x-a[l])

    if(a[pos]==x):
      return pos

    if(a[pos]<x):
      return interpos(a,pos+1,h,x)
    if(a[pos]>x):
      return interpos(a,l,pos-1,x)

  return -1

a =[1,2,3,4,5,6,7,8]
x =8
n = len(a)-1
ind = interpos(a,0,n,x)
if(ind!=-1):
  print("element found",ind)
else:
  print("not found")

element found 7

In [ ]:
D = input()
d = list(map(int,D.split(',')))
for i in d:
  s = int(sqrt((2*c*i)/h))
  l.append(str(s))
print(','.join(l))

In [ ]:
l =[]
t =[]
n =int(input())
s = str(n)
for i in s:
    l.append(int(i))
l.sort(reverse = True)
for i in l:
  t.append(str(i))
print('' . join(t))

343579
975433